.panel-container {
  width: 20%;
}

.logo {
  font-size: 28px;
  color: rgb(227, 133, 66);
  font-family: 'Bungee Shade', cursive;
}

.top-message {
  color: #353535;
  margin-bottom: 16px;
}

.top-message button {
  cursor: pointer;
}

.room-panel {
  border: 2px solid #353535;
  border-radius: 4px;
  text-align: center;
  padding: 8px;
}

#room-input, #player-input {
  width: 80%;
  height: 20px;
  margin: 8px auto;
}