.panel-container {
  width: 256px;
}

@media only screen and (max-width: 880px) {
  .panel-container {
    width: 29%;
  }
}

.panel-container .logo {
  font-size: 28px;
  color: rgb(227, 133, 66);
  font-family: 'Bungee Shade', cursive;
}

.top-message {
  color: #353535;
  margin-bottom: 16px;
}

.top-message button {
  cursor: pointer;
}